<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <arg name="segmentation/viz" default="false" />

  <node pkg="segmentation" type="pc_seg" name="pc_seg" output="screen">
    <param name="segmentation/viz" value="$(arg segmentation/viz)" />
  </node>
</launch>
