<!-- Starts up everything needed to run the example listener/talker nodes. -->
<launch>
  <arg name="hlpr_nonplanar_feature_extraction/nv" default="false" />
  <arg name="hlpr_nonplanar_feature_extraction/rt" default="/kinect/depth_registered/points" />
  <!--<arg name="nonplanar_segmentation/v" default="340" /> -->
  <arg name="hlpr_nonplanar_feature_extraction/src" default="2" />          <!-- Make it 2 for Kinect -->

  <node pkg="hlpr_nonplanar_feature_extraction" type="nonplanar_ft_ex" name="nonplanar_ft_ex" output="screen">
    <param name="hlpr_nonplanar_feature_extraction/nv" value="$(arg hlpr_nonplanar_feature_extraction/nv)" />
    <param name="hlpr_nonplanar_feature_extraction/rt" value="$(arg hlpr_nonplanar_feature_extraction/rt)" />
    <param name="hlpr_nonplanar_feature_extraction/src" value="$(arg hlpr_nonplanar_feature_extraction/src)" />
  </node>
</launch>
